*.cmi
*.cmo

parser.ml
parser.mli
parser.conflicts
parser.output
**/parser.output

scanner.ml
test

.DS_Store

test
testall.log
tests/fail-*.diff
tests/helloworld.ll
tests/test-*.ll
tests/testall.log
tests/.DS_Store

_build
*.ll
*.native
*.exe
*.o
